.btn {
    background: var(--color-ui-button);
    border: 1rem solid var(--color-background);
    display: block;
    padding: 0 15rem;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
    cursor: pointer;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &.active {
        color: var(--color-accent)
    }
}
