$padding: 8rem;

.file-browser {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .ariane {
        height: 40rem;
        flex-shrink: 0;
        line-height: 40rem;
        padding-left: $padding + 2rem;
        padding-right: $padding + 2rem;
        background: var(--color-ui-button);
        overflow-x: auto;
        overflow-y: hidden;
        --scrollbar-size: 4rem;
    }
    .file-list {
        overflow-y: auto;
        flex:1;
        background: var(--color-background);
        padding: 0 $padding;
        margin: 1rem 0;
    }
    .file {
        position: relative;
        height: 40rem;
        line-height: 40rem;
        input {
            position: absolute;
            width:100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
        .label {
            position: absolute;
            width:100%;
            height: 100%;
            pointer-events: none;
            white-space: nowrap;
            span {
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        input:checked + .label {
            color: var(--color-widget);
            &:before {
                content:"";
                position: absolute;
                left:-$padding;
                right:-$padding;
                height: 100%;
                background: var(--color-widget);
                opacity: 0.1;
            }
        }
    }
    .file-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: stretch;
        height: 42rem + $padding * 2;
        line-height: 38rem;
        flex-shrink: 0;
        // border: $padding solid var(--color-ui-background);
        padding: $padding;
        background: var(--color-ui-background);
        .btn {
            margin: 1rem;
            margin-left: $padding;
            text-overflow: clip;
            min-width: 0;
            background: var(--color-ui-button);
        }
        i {
            pointer-events: none;
        }
        .save-as {
            flex:1;
            border: 0;
            margin: 1rem;
            padding: 0 10rem;
            font-size: 120%;
            position: relative;
            background: var(--color-background);
            min-width: 0;
            &[disabled] {
                visibility: hidden;
            }
        }
    }
}
