$header-height: 22rem;
$field-height: 22rem;
$padding: 8rem;

#osc-inspector {

    --widget-padding: -1rem;

}

osc-inspector-field {

    display: flex;
    flex-direction: row;
    line-height: $field-height;
    margin-top: 4rem;
    position: relative;

    label {
        width: 90rem;
        order: 35;
        text-transform: none;
        padding-left: 8rem;
        cursor: help;
    }

    textarea, input {
        font-family: mono;

        line-height: $field-height - 8rem;
        padding: 5rem 6rem 3rem;
        flex: 1;
        overflow-x: auto;
        overflow-y: hidden;
        resize: none;
        white-space: pre;
        display: block;
        background: var(--color-background);
        cursor: text;

        --scrollbar-size: 6rem;

        &::-webkit-scrollbar-thumb:horizontal {
            // border-top: 4rem solid var(--color-background);
            cursor: normal;
        }

    }


    .computed-value {
        position: absolute;
        right: 94rem;
        text-align: right;
        pointer-events: none;
        opacity: 0.5;
        font-style: italic;
        margin-top: 1rem;
    }

}


osc-inspector-category {

    --alpha-fill: 0.5;
    margin-top: 2rem;
    display: block;
    padding: 0 8rem;

    &:first-child {
        margin-top: 0
    }

    .category-header {
        position: relative;
        text-transform: none;
        cursor: pointer;
        // color: var(--color-ui-background);
        height: $header-height;
        line-height: $header-height + 1;
        // padding: 0 8rem;
        @include pseudo-fill($z: -1);

        &:after {
            left:-($padding - 2);
            right:-($padding - 1);
        }

        &:before {
            position: relative;
            font-family: FontAwesome;
            content: "\f04b";
            width: $field-height;
            text-align: left;
            display: inline-block;
            transform-origin: 2rem 3rem;
            font-size: 7rem;
            width: 8rem;
            height: 8rem;
            line-height: 6rem;
            margin-right: 8rem;
            top: -2rem;
            transform: rotate(90deg);
            transition: top .1s, transform .1s;
        }

    }

    &.folded {

        --alpha-fill: 0.10;
        margin-bottom: 0;

        .category-header:before {
            transform: rotate(0deg);
            top: 0;
        }
        osc-inspector-field {
            display: none;
        }
    }

    .category-header + osc-inspector-field {
        margin-top: 8rem;
    }
    osc-inspector-field:last-child {
        margin-bottom: 8rem;
    }
}


osc-inspector-checkbox {

    line-height: $field-height;
    height: $field-height;
    width: $field-height;
    cursor: pointer;
    background: var(--color-background);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;

    i {
        // color: transparent;
        opacity: 0.25;
        margin-top: -1rem;
        margin-left: 1rem;
        pointer-events: none;
    }
    &.on {
        position: relative;
        z-index: 1;
        @include pseudo-fill($z: -1);
        i {
            opacity: 1;
            color: var(--color-text-solid);
        }
    }

}

osc-inspector-select {
    position: relative;
    font-family: mono;
    line-height: inherit;
    padding: 0;
    overflow: hidden;
    height: $field-height;
    width: $field-height;
    background: var(--color-background);
    margin-left: 4rem;
    select {
        background: var(--color-background);
        // width: 100%;
        line-height: $field-height - 8rem;
        padding: 4rem 6rem;

        position: absolute;
        left:0;
        opacity: 0;
        optgroup {
            background: var(--color-background);
            font-weight: bold;
            option {
                background: var(--color-ui-background);
                color: var(--color-text);
                margin-left: -4rem;
                font-weight: normal;
                text-indent: -10px;
                margin: 0;
            }
        }
    }
    &:after{
        content:"\f0d7";
        font-family: FontAwesome;
        position: absolute;
        line-height: $field-height;
        height: $field-height;
        width: $field-height;
        text-align: center;
        right:0;
        top:1rem;
        font-size: 16rem;
        pointer-events: none;
    }
}


osc-inspector-color {
    padding: 0;
    border: 0;
    box-shadow: 0;
    outline: 0;
    position: relative;
    font-family: mono;
    line-height: inherit;
    overflow: hidden;
    height: $field-height;
    width: $field-height;
    background: var(--color-background);
    margin-left: 4rem;

    cursor: pointer;

    --color-fill: var(--color-picker-value);
    --alpha-fill: 1;
    --widget-padding: 4rem;
    @include pseudo-fill();
    &:after {

    }

}

.color-picker-modal {

    flex: 1;
    display: flex;
    flex-direction: column;

    .widget {
        background: var(--color-background);
        flex: 1;
        width: 100%;
    }

    .actions {
        margin-top: 8rem;
        display: flex;
        flex-direction: row;
        .btn {
            flex: 1;
            text-align: center;
        }
        :first-child {
            margin-right: 8rem;
        }
    }

}

.inspector-help {

    width: 100%;
    padding: 8rem;
    background: var(--color-background);

    p {
    }
    .error {
        color: red;
        margin-top: 10rem;
    }
    em {
        font-style: italic;
    }
    code {
        color: var(--color-accent);
        padding: 4rem;
        background: rgba(black, 0.2);
        display: inline-block;
        user-select: auto;
        cursor: auto;
        ::selection{/* reset */}
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
    .pre {
        white-space: pre;
        vertical-align: text-top;
        margin-top: -4rem;
        position: relative;
        padding: 5rem;
        user-select: text;
    }

    .header p {
        margin-bottom: 2rem;
        user-select: text;
    }
    .description {
        border-top: 2rem solid var(--color-ui-background);
        margin-top: 10rem;
        padding-top: 10rem;
        white-space: normal;
        * {
            user-select: text;
        }
    }

    .computed {
        border-top: 2rem solid var(--color-ui-background);
        margin-top: 10rem;
        padding-top: 10rem;

    }
}
