$header-height: 28rem;
$field-height: 24rem;
$padding: 8rem;

#osc-inspector {

    --widget-padding: -1rem;

}

osc-inspector-field {

    display: flex;
    flex-direction: row;
    line-height: $field-height;
    margin-top: 2rem;
    position: relative;

    --widget-padding: -1rem;


    label {
        width: 90rem;
        // order: 35;
        text-align: right;
        text-transform: none;
        padding-right: 8rem;
        line-height: $field-height + 1rem;
        height: $field-height;
        cursor: help;
        // background: rgba(white, 0.1);
    }

    textarea, input {
        font-family: $font-mono;

        line-height: $field-height - 8rem;
        padding: 4rem 6rem;
        flex: 1;
        overflow-x: auto;
        overflow-y: hidden;
        resize: none;
        white-space: pre;
        display: block;
        background: var(--color-background);
        cursor: text;

        user-select: initial;

        --scrollbar-size: 6rem;

        // Chromium scrollbar
        &::-webkit-scrollbar-thumb:horizontal {
            cursor: normal;
        }

        // Firefox scrollbar (hidden to preserve height)
        scrollbar-width: thin;
        &[rows="1"] {
            scrollbar-width: none;
        }


    }


    .computed-value {
        position: absolute;
        right: 4rem;
        text-align: right;
        pointer-events: none;
        opacity: 0.5;
        font-style: italic;
        margin-top: 1rem;
    }

}


osc-inspector-category {

    margin-top: 1rem;
    display: block;
    padding: 0 8rem;

    &:first-child {
        margin-top: 0
    }

    .category-header {
        position: relative;
        cursor: pointer;
        height: $header-height;
        line-height: $header-height;
        // padding: 0 8rem;
        @include pseudo-fill($z: -1);

        &:after {
            left:-($padding - 1);
            right:-($padding - 1);
        }

        &:before {
            position: relative;
            font-family: FontAwesome;
            content: "\f054";
            width: $field-height;
            text-align: left;
            display: inline-block;
            transform-origin: 2rem 3rem;
            width: 8rem;
            margin-right: 8rem;
        }

    }

    .separator {
        height: $header-height;
        line-height: $header-height + 1;
        margin: 8rem 0;
        --alpha-fill: 0.75;
        position: relative;
        @include pseudo-fill($z: -1);
        padding: 0 16rem;
        opacity: 0.75;
        --color-fill: var(--color-background);
        &:after {
            left:-($padding - 1);
            right:-($padding - 1);
        }
    }

    osc-inspector-field, .separator {
        display: none;
    }
    --alpha-fill: 1;
    --color-fill: var(--color-ui-button);

    &.expanded {
        // --alpha-fill: 1;
        --alpha-fill: 0.5;
        --color-fill: var(--color-widget);

        .category-header:before {
            content: "\f078";
        }
        osc-inspector-field {
            display: flex;
        }
        .separator {
            display: block
        }
    }

    .category-header + osc-inspector-field {
        margin-top: 8rem;
    }
    osc-inspector-field:last-child {
        margin-bottom: 8rem;
    }
}


osc-inspector-checkbox {

    --widget-padding: 0;
    --color-fill: var(--color-ui-button);
    --alpha-fill: 1;

    line-height: $field-height;
    height: $field-height;
    width: $field-height;
    cursor: pointer;
    background: var(--color-background);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rem solid var(--color-background);
    i {
        // color: transparent;
        opacity: 0.5;
        margin-top: -1rem;
        margin-left: 1rem;
        pointer-events: none;
        font-size: 10rem;
    }
    position: relative;
    @include pseudo-fill($z: -1);
    z-index: 1;

    &.on {
        --color-fill: var(--color-widget);
        --alpha-fill: 0.5;

        i {
            opacity: 1;
            color: var(--color-text-solid);
        }
    }

}

osc-inspector-select {
    position: relative;
    font-family: $font-mono;
    line-height: inherit;
    padding: 0;
    overflow: hidden;
    height: $field-height;
    width: $field-height;
    background: var(--color-background);
    cursor: pointer;

    select {
        background: var(--color-background);
        // width: 100%;
        line-height: $field-height - 8rem;
        padding: 4rem 6rem;

        position: absolute;
        right:2rem;
        width: 127rem;
        opacity: 0;
        optgroup {
            background: var(--color-ui-background);
            font-weight: bold;
            option {
                background: var(--color-background);
                color: var(--color-text);
                margin-left: -4rem;
                font-weight: normal;
                text-indent: -10px;
                margin: 0;
            }
        }
    }
    &:after{
        content:"\f107";
        font-family: FontAwesome;
        position: absolute;
        line-height: $field-height;
        height: $field-height;
        width: $field-height;
        text-align: center;
        right:0;
        top:1rem;
        font-size: 16rem;
        pointer-events: none;
    }
}


osc-inspector-color {
    padding: 0;
    border: 0;
    box-shadow: 0;
    outline: 0;
    position: relative;
    font-family: $font-mono;
    line-height: inherit;
    overflow: hidden;
    height: $field-height;
    width: $field-height;
    background: var(--color-background);

    cursor: pointer;



    --color-fill: var(--color-picker-value);
    --alpha-fill: 1;
    --widget-padding: 1rem;
    @include pseudo-fill();
    &:after {
        border: 1rem solid var(--color-ui-button)
    }
}

.color-picker-modal {

    flex: 1;
    display: flex;
    flex-direction: column;

    .widget {
        background: var(--color-background);
        flex: 1;
        width:  auto;
        --widget-padding: #{$padding};
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: stretch;
        height: 42rem + $padding * 2;
        line-height: 38rem;
        flex-shrink: 0;
        background: var(--color-ui-background);
        padding: $padding;
        .btn {
            flex: 1;
            text-overflow: clip;
            min-width: 0;
            background: var(--color-ui-button);
            margin-right: $padding;
            &:last-child {
                margin: 0;
            }
        }
    }

}

.inspector-help {

    width: 100%;
    padding: 8rem;
    background: var(--color-background);

    p {
    }
    .error {
        color: red;
        margin-top: 10rem;
    }
    em {
        font-style: italic;
    }
    code {
        color: var(--color-accent);
        padding: 4rem;
        background: rgba(black, 0.2);
        display: inline-block;
        user-select: auto;
        cursor: auto;
        ::selection{/* reset */}
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
    .pre {
        white-space: pre;
        vertical-align: text-top;
        margin-top: -4rem;
        position: relative;
        padding: 5rem;
        user-select: text;
    }

    .header p {
        margin-bottom: 2rem;
        user-select: text;
    }
    .description {
        border-top: 2rem solid var(--color-ui-background);
        margin-top: 10rem;
        padding-top: 10rem;
        white-space: normal;
        * {
            user-select: text;
        }
    }

    .computed {
        border-top: 2rem solid var(--color-ui-background);
        margin-top: 10rem;
        padding-top: 10rem;

    }
}
