::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height:var(--scrollbar-size);
}

::-webkit-scrollbar-track-piece {
    background: var(--color-background);
    &:vertical {
        border-left: 1rem solid var(--color-background);
    }
    &:horizontal {
        border-top: 1rem solid var(--color-background);
    }
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    &:active {
        background: var(--color-scrollbar-on);
    }
    &:vertical {
        border-left: 1rem solid var(--color-background);
    }
    &:horizontal {
        border-top: 1rem solid var(--color-background);
    }
}

::-webkit-scrollbar-button:decrement:start, ::-webkit-scrollbar-button:increment:end {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    height: 0rem;
    width: 0rem;
    background: var(--color-background);
}


* {
    scrollbar-color: var(--color-scrollbar) var(--color-background);
    scrollbar-width: thin;
}
