.select-area {

    position:fixed;
    z-index:999999;
    border: 1rem solid var(--color-accent);
    pointer-events: none;
    &:after {
        content:"";
        position: absolute;
        top:0;left:0;
        right:0;bottom:0;
        background: var(--color-accent);
        opacity: 0.2;
    }
    &.hidden {
        display: none;
    }

}
