$font: 'Roboto';
$font-mono: 'Roboto Mono';
$font-menu: sans-serif;


@import '../colors/nord';

:root {

    --nav-height: 40rem;
    --grid-width: 10;

    --color-background: #{$nord0};
    --color-ui-background: #{$nord1};

    --color-text: #{$nord4};
    --color-text-solid: #{$nord6};


    --color-accent: #{$nord8};

    --color-context-menu: #{$nord6};
    --color-context-menu-text: #{$nord1};


    --alpha-scrollbar: 0.25;
    --alpha-scrollbar-on: 0.75;
    --scrollbar-size: 12rem;

    --color-grid: rgba(0,0,0, 0.1);
    --color-notification: #{rgba(black, 0.8)};
    --color-widget: var(--color-accent);


}
