$font: 'Roboto';
$font-mono: 'Roboto Mono';
$font-menu: sans-serif;


@import '../colors/nord';

:root {

    --nav-height: 40rem;
    --grid-width: 10;


    --color-background: #21252b;
    --color-ui-foreground: hsl(219, 14%, 23%);
    --color-ui-background: hsl(217, 14%, 19%);
    --color-ui-button: #{$nord1};
    --color-accent: #6db5fd;

    --color-text: #{$nord4};
    --color-text-solid: #{$nord6};


    --color-accent: #6db5fd;
    --color-error: #{$nord11};
    --color-warning: #{$nord13};
    --color-success: #{$nord14};

    --color-context-menu: #{$nord6};
    --color-context-menu-text: #{$nord1};


    --line-width: 1rem;

    --alpha-scrollbar: 0.25;
    --alpha-scrollbar-on: 0.75;
    --scrollbar-size: 12rem;

    --color-grid: rgba(0,0,0, 0.1);
    --color-notification: #{rgba(black, 0.8)};
    --color-widget: var(--color-accent);

}
