$base: rgb(25, 31, 42)!default;
$accent: rgb(82, 168, 255)!default;

$text: white!default;

:root {

    --nav-height: 40rem;
    --grid-width: 10;


    --color-text: #{transparentize($text, .4)};


    --color-background: #{$base};
    --color-ui-background: #{mix($base, black, 85)};

    --color-grid: rgba(0,0,0, 0.1);
    --color-notification: #{rgba(black, 0.8)};

    --color-context-menu: #{mix($base, white, 95)};
    --color-context-menu-text: #{transparentize($text, .2)};

    --alpha-scrollbar: 0.25;
    --alpha-scrollbar-on: 0.5;
    --scrollbar-size: 12rem;

    --color-text-solid: #{$text};
    --color-text: #{transparentize($text, .4)};


    --color-accent: #{$accent};
    --color-widget: var(--color-accent);

}
