@import 'default';

:root {
    --color-background: #{$nord0};
    --color-ui-foreground: #{$nord2};
    --color-ui-background: #{$nord1};
    --color-ui-button: #{$nord3};
    --color-accent: #{$nord8};
}
