@import 'default';

:root {
    --color-background: #404040;
    --color-ui-background: #505050;
    --color-ui-background-active: #4A4A4A;
    --color-ui-button: #606060;
    --color-accent: #d98533;
}
