
.input-container {

    --alpha-fill-off: 0.05;

    inner {
        position: relative;
        @include pseudo-stroke();
        @include pseudo-fill(0.05);

        display: flex;
        flex: 1;
        padding: var(--widget-padding);
        text-align: center;
        &.right {
            text-align: right;
        }
        &.left {
            text-align: left;
        }
    }

    input + canvas {
        display: none;
        width: 0;
    }

    canvas {
        flex:1;
        max-width: 100%;
    }

    input {
        display: block;
        flex:1;
        max-width: 100%;
        font: inherit;
        border:0;
        padding:0;
        background: transparent;
        border-radius: inherit;
        -webkit-appearance:none;
        appearance: none;
        text-align:inherit;
        line-height: 50rem;
        vertical-align: top;
        letter-spacing: 1rem;
        -webkit-user-select: text;
        user-select: text;

        color:var(--color-fill);
        caret-color: var(--color-fill);


        &:focus {
            color:var(--color-text-fade);
        }

        &:focus::selection {
            color:var(--color-fill);
            background: transparent;
        }

    }

}
