.xy-container, .multixy-container {

    --alpha-fill-off: 0.05;
    --alpha-fill: var(--alpha-fill-off);
    --widget-padding: 20rem;

    inner {
        position: relative;
        flex: 1;
        display: flex;

        @include pseudo-fill($z: -1);
        @include pseudo-stroke();
    }

    canvas {
        width: 100%;
        text-align: center;
    }

}

.multixy-container {

    canvas:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
    }

}
