.fader-container,
.knob-container,
.encoder-container,
.range-container {

    inner {
        flex: 1;
    }

    canvas {
        image-rendering: pixelated;
        width: 100%;
        height: 100%;
    }

}

.fader-container,
.range-container {

    --widget-padding: 1rem;

    &.alt {
        --widget-padding: 10rem;
        --alpha-fill-off: 0.25;
        --alpha-fill-on: 1;

    }

}

.knob-container,
.encoder-container {

    --widget-padding: 1rem;
    --alpha-stroke: 0.75;

}
