.widget.editing {
    z-index: 9999!important;
    // overflow: visible;
}
.widget.editing:after,
.tablink.editing:after,
.modal-container.editing .popup-wrapper:after {
    content:"";
    z-index: 999!important;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:1rem solid var(--color-accent);

    --opa1: rgba(0,0,0, 1);
    --opa2: rgba(0,0,0, 0.2);
    --opa3: rgba(0,0,0, 0.8);
    -webkit-mask: linear-gradient(to right, var(--opa1) 10rem, var(--opa1) 10rem, var(--opa2) 10rem, var(--opa2) calc(100% - 10rem), var(--opa1) calc(100% - 10rem), var(--opa1)),
                    linear-gradient(to bottom, var(--opa2) 10rem, var(--opa2) 10rem, var(--opa3) 10rem, var(--opa3) calc(100% - 10rem), var(--opa2) calc(100% - 10rem), var(--opa2)) ;
    -webkit-mask-composite: xor;

    pointer-events: none;
    box-shadow: none!important;
    opacity: 1!important;
}

// GRID

.editor-enabled {
    &:not(.no-grid) {
        .panel {
            background-image: linear-gradient(to bottom, var(--color-grid)  1rem,  transparent 1rem),
            linear-gradient(to right, var(--color-grid)  1rem,  transparent 1rem);
            --size: calc(var(--grid-width) * 1rem);
            background-size: var(--size) var(--size);
            background-attachment: local;
            background-position: 0rem 0;
        }
    }

    .widget {
        pointer-events: initial!important;
    }

}

// Help popup

.editor-help {
    .error {
        color: red;
        margin-top: 10rem;
    }
    em {
        font-style: italic;
    }
    code {
        color: var(--color-accent);
        padding: 1rem 3rem;
        background: rgba(black, 0.2);
        display: inline-block;
        user-select: auto;
        cursor: auto;
        ::selection{/* reset */}
    }
    a {
        text-decoration: underline;
        cursor: pointer;
    }
    .pre {
        white-space: pre;
        vertical-align: text-top;
    }
    .help {
        margin-top: 10rem;
    }
}
.editor-help-title {
    text-transform: none;
}

// selectable
