@import 'reset';

@import 'mixins';

@import 'ui';

@import 'widgets';

input,
textarea,
{
    caret-color: var(--color-widget);
}

input:focus::selection,
textarea:focus::selection,
{
    background:var(--color-widget);
    color:var(--color-text);
}
input {
    cursor: text;
}




.fa {
    font-weight: 900;
}

html, body {
    height:100%;
    position:relative;
    overflow:hidden;
    overscroll-behavior: none;
    background-color: var(--color-background);
}

html{
    // global pixel scaling
    font-size: 1px;

    // prevent android's auto font-resize
    max-height: 999999px;

    // prevent pinch-zoom
    touch-action:none;
}

body {
    color:  var(--color-text);
    white-space:nowrap;
    opacity:1;
    cursor: default;
    font-family: 'Roboto', sans-serif;
    font-size:11rem;
    line-height:100%;
    font-weight: 500;
    // text-transform: uppercase;
    letter-spacing: 1rem;
}

























.error-stack {
    > span {
        background: none!important;
        color: inherit!important;
    }
    padding:10rem;
    user-select:initial;
    cursor: initial;
    * {
        user-select:initial;
        cursor: initial;
    }
    overflow:auto;
    white-space:pre;
    font-family: monospace;
    font-weight:bold;
}

.translation-missing {
    color: #ff00ff;
}

.fa-osc:before {
    content:"\f111";
    color: transparent;
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@import 'themes/default';
